# Supabase Configuration
VITE_SUPABASE_URL=https://quwegpmjirsdfmaegaoh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9vbnh3cWRheWZubGZldGRpdWZ4Iiwicm9sZSI6ImF4cCI6MjA4NzA5NTAyN30.s6dHWxURD6NLLZuVK3F0lGXkrE_F-10VA61DFWmz8pk
